<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Battle Simulator</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
</head>

<body>
    <header>
        <img id="logo" src="C:\bootcamp\Pokemon-battle-sim-V2\assets\Pokemon battle simulator.png" alt="logo" style="height:50px;">
    </header>
    <nav>
        <ul>
            <li><a href='/'>Home</a></li>
            <li>Backpack</li>
            <li>Store</li>
            <li>Login</li>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer> Made with &#x1F49C by Aleksandr Polbennikov, Colin Taaffe, Bryan McIntyre and Leena Cruz</footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
    <script>
        gsap.to("#logo", {
            opacity: 0,
            duration: 1,
            repeat: -1,
            yoyo: true,
            ease: "power1.inOut"
        });
    </script>
</body>

</html>