<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon Battle Simulator</title>
</head>

<body>
    <header> Pokemon Battle v2</header>
    <nav>
        <ul>
            <li> <a href='/'>Home </a> </li>
            <li>Backpack</li>
            <li>Store</li>
            <li>Login</li>
        </ul>
    </nav>
    <main>
        {{{body}}}
    </main>
    <footer> Made with &#x1F49C by Aleksandr Polbennikov, Colin Taaffe, Bryan McIntyre and Leena Cruz</footer>
</body>

</html>