<header>
    <nav>
      <ul>
        <li><a href='/dashboard'>Dashboard</a></li>
        <li><a href='/battle/{{id}}'>Battle</a></li>
        <li><a href='/store'>Store</a></li>
        <li><a href='#' id="logout">Logout</a></li>
    </ul>
    </nav>
  </header>

<main>
    <h2 id="home-color">Backpack 🎒</h2>
    <div class="wallet">
        <div class="tooltip-container">
            <p class="wallet-value">
                <img src="/images/pokedollar.png" alt="Pokedollar" />
                <span id="walletAmount">500</span>
                <span class="tooltip-text">Your current balance</span>
            </p>
        </div>
    </div> 
    <div class="bg-container" id="backpack-items"></div>
    {{!-- <div id="pokemon-container"></div> --}}

<div id="pokemonModal" class="pokemon-modal">
    <div class="pokemon-modal-content">
        <span class="close-button">&times;</span>
        <h2>Select a Pokémon</h2>
       <div id="pokemon-container"></div>
    </div>




</main>

<script src="/js/itemAnimations.js"></script>
<script src="/js/wallet.js"></script>
<script src="/js/backpack.js"></script>
<script src="/js/logout.js"></script>