<header>
    <nav>
      <ul>
        <li><a href='/dashboard'>Dashboard</a></li>
        <li><a href='/battle'>Battle</a></li>
        <li><a href='/store'>Store</a></li>
        <li><a href='#' id="logout">Logout</a></li>
    </ul>
    </nav>
  </header>

<div>
    <h2 id="home-color">Backpack 🎒</h2>
</div>
{{!-- {{#each items}} --}}
    {{!-- This should call the object {{item}} partials?--}}
<div class="bg-container">
<div class="item-card"> Item #1</div>
{{!-- {{/each}} --}}
</div>

<script src="/js/logout.js"></script>