<header>
    <nav>
      <ul>
        <li><a href='/dashboard'>Dashboard</a></li>
        <li><a href='/battle/{{id}}'>Battle</a></li>
        <li><a href='/store'>Store</a></li>
        <li><a href='#' id="logout">Logout</a></li>
    </ul>
    </nav>
  </header>

<main>
    <h2 id="home-color">Backpack 🎒</h2>
    <div class="wallet"></div> 
    <div class="bg-container" id="backpack-items"></div>
</main>
<script src="/js/itemAnimations.js"></script>
<script src="/js/wallet.js"></script>
<script src="/js/backpack.js"></script>
<script src="/js/logout.js"></script>