<div>
    <h2 id="home-color">Your Backpack</h2>
</div>
{{!-- {{#each items}} --}}
    {{!-- This should call the object {{item}} partials?--}}
<div class="bg-container">
<div class="item-card"> Item #1</div>
{{!-- {{/each}} --}}
</div>