<header>
    <nav>
        <ul>
            <li><a href='/battle'>Battle</a></li>
            <li><a href='/backpack'>Backpack</a></li>
            <li><a href='/store'>Store</a></li>
            <li><a href='#' id="logout">Logout</a></li>
        </ul>
    </nav>
</header>
<main>
    <h1 class="dashboard">Welcome to your dashboard!</h1>
    <!-- Add more dashboard content here -->
</main>

<script src="/js/logout.js"></script>