
  <main>
    <div class="battle-container">
      <img id="image-left" src="/public/images/pikachu.png" alt="Left Character" />
      <img id="image-right" src="images/Charizard_art (1)-Photoroom.png" alt="Right Character" />
      <p id="home-color"><a href="/login" class="link">Login or sign up to continue!</a></p>
    </div>
  </main>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
  <script src="/js/home.js"></script>

