
  <main>
    <div class="home-battle-container">
      <div class="image-row">
      <img id="image-left-pika" src="images/pikachu.png" alt="Pikachu" />
      <img id="image-right-char" src="images/Charizard_art (1)-Photoroom.png" alt="Charizard" />
      </div>
      <p id="home-color"><a href="/login" class="link">Login or sign up to continue!</a></p>
    </div>
  </main>
 
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.0/gsap.min.js"></script>
  <script src="/js/home.js"></script>

