 <main>
    <div class="field">
      <div class="control">
        <h2 class="page-title">Login</h2>
        <form id="login-form" class="login-form" action="/login" method="POST">
          <div class="control">
            <label for="email-login">Email:</label>
            <input class="input" type="email" id="email-login" name="email" />
          </div>
          <div class="control">
            <label for="password-login">Password:</label>
            <input class="input" type="password" id="password-login" name="password" />
          </div>
          <div class="control">
            <button class="button is-primary" type="submit">Login</button>
          </div>
        </form>
        <p id="signup-link">Don't have an account? <a href="/signup">Click here to sign up!</a></p>
      </div>
    </div>
  </main>
  <script src="/js/login.js"></script>