:root {
  --primary: #3B4CCA;
  --secondary: #29396A;
  --tertiary: #d2d7f7;
  --quaternary: #6A2020;
  --light: #d2d7f7;
  --dark: #202941;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  align-items: center;
  background: radial-gradient(circle, #3B4CCA, #1C3AA9, #1D2951);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  margin-top: 25px;
}

nav {
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 25px;
}

nav ul li {
  margin: 0;
  display: inline;
}

nav ul li a {
  color: var(--light);
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  text-shadow: 1px 1px 2px black;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  color: #FFCC00;
  text-shadow: 2px 2px 2px #000000;
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

h3 {
  color: #FFCC00;
  text-shadow: 2px 2px 2px #000000;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

footer {
  font-size: 20px;
  color: var(--light);
  width: 100%;
  text-align: center;
  padding-top: 40px;
  margin-top: auto;
}

a:hover {
  color: #FFCC00;
}

label {
  color: var(--light);
}

.bg-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
  padding: 20px;
  background-color: var(--secondary);
  border-radius: 10px;
  border-style: inset;
  border-color: #FFCC00;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.container.container-fluid {
  width: 92%;
}

#image-left-pika {
  width: 100%;
  height: 100%;
  margin-right: auto;
}

#image-right-char {
  width: 100%;
  height: 100%;
  margin-left: auto;
}

.home-battle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 75px;
}

.home-battle-container .image-row {
  display: flex;
  justify-content: space-between;
  ;
  width: 100%;
  max-width: 750px;
  padding: 0;
  margin-bottom: 50px;
}

.home-battle-container img {
  max-width: 250px;
  height: auto;
}

.login-card {
  margin: 20px 0px 0px 20px;
  flex: 0 0 50%;
  max-width: 90%;
  padding: 20px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  background-color: var(--tertiary);
  color: var(--dark);
}

.login-form {
  background-color: var(--tertiary);
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  padding: 20px;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
}

.login-form .control {
  margin-bottom: 15px;
}

.login-form label {
  display: block;
  margin-bottom: 5px;
  color: var(--dark);
  font-weight: bold;
}

.login-form .input {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--primary);
  border-radius: var(--border-radius);
  box-sizing: border-box;
  font-size: 16px;
}

.login-form .button {
  background-color: var(--primary);
  color: var(--light);
  border: none;
  border-radius: var(--border-radius);
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  width: 100%;
  text-align: center;
}

.login-form .button:hover {
  background-color: var(--dark);
}

.battlefield-background {
  background-image: url('/images/battlefield.jpg');
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 600px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.battlefield-enemy-pokemon-card {
  background: radial-gradient(circle, white, gray, black);
  border: 2px solid #FFCC00;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 235px;
  height: 375px;
  min-height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.battlefield-enemy-pokemon-card img {
  width: 150px;
  height: auto;
  margin-bottom: 10px;
}

.battlefield-enemy-pokemon-card h2 {
  color: #FFCC00;
  font-size: 18px;
  text-shadow: 2px 2px 1px #1D2951;
}

.battlefield-question {
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #000;
  margin-top: 20px;
}

.battlefield-options {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.battlefield-button {
  background-color: #000000;
  color: white;
  text-shadow: 1px 1px 2px #FFCC00;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.battlefield-button:hover {
  background-color: #6A2020;
}

.battle-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.battle-modal-content {
  background-color: var(--light);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--dark);
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.battle-modal-content h2 {
  margin-bottom: 20px;
}

.battle-modal-ok-button {
  background-color: var(--primary);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.battle-modal-ok-button:hover {
  background-color: var(--dark);
}

.select-button {
  background: radial-gradient(circle, #3B4CCA, #1C3AA9, #0B2545);
  color: #FFCC00;
  padding: 10px;
  border: 2px solid #FFCC00;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  width: 75%;
  text-align: center;
  margin-top: auto;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.select-button:hover {
  background: radial-gradient(circle, #3B4CCA, #1C3AA9, #0B2545);
  color: #FFCC00;
  transform: translateX(-50%) scale(1.4);
}

.battle-pokemon-card {
  background: radial-gradient(circle, white, gray, black);
  border: 2px solid #FFCC00;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  height: 425px;
  min-height: 150px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-pokemon-card {
  position: absolute;
  left: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px 10px 15px;
  text-align: center;
}

.opponent-pokemon-card {
  position: absolute;
  right: 100px;
}

.opponent-pokemon-card h2 {
  font-size: 20px;
}

.user-pokemon-card h2 {
  font-size: 22px;
  margin-bottom: 10px;
}

.user-pokemon-card p {
  color: #FFCC00;
  text-shadow: 2px 2px 1px black;
  font-weight: bold;
  margin: 4px 0;
  font-size: 14px;
  display: flex;
  justify-content: space-evenly;
}

.opponent-pokemon-card p {
  color: #FFCC00;
  text-shadow: 2px 2px 1px black;
  font-weight: bold;
}

.pokemon-card p,
.user-pokemon-card p,
.opponent-pokemon-card p {
  font-size: 14px;
}

.vs-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: #FFCC00;
  text-shadow: 2px 2px 2px #000;
  margin-top: 140px;
}

.link {
  color: rgb(228, 46, 1);
  text-decoration: underline;
}

.link:hover {
  color: #FFCC00;
}

.page-title {
  color: #FFCC00;
  text-shadow: 2px 2px 2px #29396A;
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.dashboard {
  color: #FFCC00;
  text-shadow: 2px 2px 2px #29396A;
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.storage-pokemon {
  display: flex;
  align-content: center;
  padding: 10px;
  font-size: 25px;
  color: #FFCC00;
  text-shadow: 2px 2px 2px #29396A;
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}

.store-item {
  background-color: var(--light);
  border: 2px inset #FFCC00;
  border-radius: 10px;
  width: 230px;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

.store-item:hover {
  background-color: rgb(240, 232, 161);
}

.store-item img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.store-item h2 {
  color: #FFCC00;
  text-shadow: 2px 2px 1px #1C3AA9;
  text-decoration: underline;
  font-size: 20px;
  margin: 10px 0;
}

.store-item p {
  margin: 5px 0;
  color: #1C3AA9;
  text-shadow: 1px 1px 1px #FFCC00;
  padding: 10px;
}

.quantity-label {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  padding: 10px;
}

.purchase-button {
  background-color: #3B4CCA;
  color: var(--light);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}

.purchase-button:hover {
  background-color: var(--dark);
}

.starter-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 20px;
  margin-top: 20px;
}

.starter-card {
  background-color: #f8f9fa;
  border: 4px solid #FFCC00;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 10px;
}

.starter-card:hover {
  transform: scale(1.05);
}

.starter-card img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.starter-card p {
  margin: 5px 0;
  color: rgb(20, 20, 20);
}

.starter-card strong {
  color: #FFCC00;
  text-shadow: 2px 2px 1px #1D2951;
  font-size: 20px;
}

.starter-card button {
  background-color: #FFCC00;
  color: white;
  text-shadow: 2px 2px 1px #6A2020;
  border-style: outset;
  border-color: #1C3AA9;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.starter-card button:hover {
  background-color: #3B4CCA;
  text-shadow: 1px 1px 2px #FFCC00;
}

.pokemon-card {
  background: radial-gradient(circle, white, gray, black);
  border: 2px solid #FFCC00;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  margin: 10px;
  cursor: grab;
  position: relative;
}

.pokemon-card:hover {
  transform: scale(1.05);
  background-color: #ece8b2;
}

.pokemon-card img {
  width: 125px;
  height: auto;
  margin-bottom: 10px;
}

.pokemon-card h2 {
  color: #FFCC00;
  text-shadow: 2px 2px 1px #1D2951;
  font-size: 20px;
}

.pokemon-card p {
  margin: 5px 0;
  color: rgb(20, 20, 20);
  text-shadow: 1px 1px 1px white;
  padding-bottom: 10px;
}

.backpack-item {
  background-color: #f8f9fa;
  border: 2px solid #FFCC00;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  flex-wrap: wrap;
  align-content: space-around;
}

.backpack-item:hover {
  background-color: rgb(240, 232, 161);
}

.backpack-item img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
}

.backpack-item h2 {
  color: #FFCC00;
  text-shadow: 2px 2px 1px #1D2951;
  font-size: 16px;
  text-decoration: underline;
}

.backpack-item p {
  margin: 5px 0;
  color: rgb(20, 20, 20);
  padding-top: 15px;
}

.use-button {
  background-color: #3B4CCA;
  color: var(--light);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}

.use-button:hover {
  background-color: var(--dark);
}

.wallet {
  background-image: url('/images/IMG_6644.png');
  background-size: contain;
  background-position: left center;
  background-repeat: no-repeat;
  border: none;
  padding: 15px;
  font-size: 18px;
  color: #FFFFFF;
  display: inline-block;
  width: 375px;
  height: 150px;
  position: relative;
  margin-bottom: 20px;
}

.wallet-value {
  padding: 0;
  font-size: 24px;
  color: rgb(9, 184, 9);
  text-shadow: .8px 1.5px 2px black;
  position: absolute;
  top: 50%;
  left: 175px;
  transform: translateY(-50%);
  z-index: 1;
  background-color: transparent;
  border: none;
  cursor: grab;
  display: flex;
  align-items: center;
}

.wallet-value img {
  margin-right: 8px;
}

.wallet {
  padding-top: 25px;
}

/* Tooltip container */
.tooltip-container {
  position: relative;
  display: inline-block;
}

/* Tooltip text */
.tooltip-text {
  visibility: hidden;
  width: 250px;
  height: 250px;
  background-image: url('/images/eeveemoney.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  text-shadow: 2px 2px 1px rgb(9, 184, 9);
  text-align: right;
  border-radius: 15px;
  border: 6px inset green;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -70px;
  opacity: 0;
  transition: opacity 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: "Teko", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 30px;
  padding-right: 12px;
}

/* Tooltip arrow */
.tooltip-text::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent;
}

.wallet-value:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

.wallet:hover .wallet-value {
  transform: none;
}

.store-item:hover img,
.backpack-item:hover img {
  transform: scale(1.05);
}

.quantity-select {
  margin-top: 10px;
  padding: 5px;
  font-size: 14px;
  border-radius: 5px;
}

.quantity-label {
  font-size: 14px;
  margin-top: 10px;
  display: block;
  color: #000000;
  text-shadow: 1px 1px 1px #FFD700;
}

.backpack-item .quantity-select {
  margin-top: 10px;
  padding: 8px;
  font-size: 14px;
  border-radius: 5px;
  background-color: #f8f9fa;
  color: #000000;
}

.backpack-item .quantity-label {
  font-size: 16px;
  margin-top: 10px;
  display: block;
  color: black;
  text-shadow: 1px 1px 1px #FFCC00;
}

.delete-button {
  background-color: #6A2020;
  color: var(--light);
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: red;
}

/* Modal container for purchases */
.store-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: #000000;
  text-shadow: 1px 1px 1px #FFCC00;
}

/* Modal content for purchases */
.store-modal-content {
  background-color: var(--light);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--dark);
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.store-modal-content h2 {
  padding-bottom: 15px;
}

/* Close button */
.close-button {
  color: var(--dark);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: var(--primary);
  text-decoration: none;
  cursor: pointer;
}

.battle-action-button {
  background: radial-gradient(circle, #dcdcdc, #a9a9a9, #696969, #2f2f2f);
  color: #FFCC00;
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  padding: 10px 30px;
  border: 2px solid #FFCC00;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  text-shadow: 2px 2px 2px #000000;
}

.battle-action-button:hover {
  color: #1C3AA9;
  border: 2px solid #1C3AA9;
  transform: scale(1.1);
}

.quit-battle-button {
  background: radial-gradient(circle, #800000, #4b0000, #200000);
  color: #FFCC00;
  font-family: "Press Start 2P", system-ui;
  font-size: 20px;
  padding: 10px 30px;
  border: 2px solid #FFCC00;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  position: absolute;
  transform: translate(-50%);
  z-index: 1000;
  text-shadow: 2px 2px 2px #000000;
  bottom: 10px;
  left: 50%;
}

.quit-battle-button:hover {
  color: #ff0000;
  border: 2px solid #ff0000;
  transform: scale(1.1);
}

.attack-button {
  background: radial-gradient(circle, #800000, #4b0000, #200000);
  color: #FFCC00;
  font-family: "Press Start 2P", system-ui;
  font-size: 16px;
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
  margin-top: 20px;
  display: none;
}

.attack-button:hover {
  color: white;
  border: 2px solid #ff0000;
  transform: scale(1.1);
}

.pokemon-stat {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 4px;
  width: 150px;
}

.pokemon-stat p {
  margin: 0;
  padding-left: 7px;
  font-size: 14px;
  text-align: center;
  color: #FFCC00;
  text-shadow: 2px 2px 1px black;
  font-weight: bold;
  display: inline-block;
  vertical-align: middle;
}

.stat-icon {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

/* Unique modal styles for Pokémon stats */
.pokemon-stat-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
}

.pokemon-stat-modal-content {
  background: radial-gradient(circle, #aec5ee, #e0ebf7, #74aee0);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--dark);
  width: 80%;
  max-width: 400px;
  height: 250px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
  color: black;
}

.pokemon-stat-modal-content h2 {
  font-size: 22px;
}

.pokemon-stat-modal-content p {
  padding-top: 20px;
}

.pokemon-stat-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.pokemon-stat img.stat-icon {
  display: inline-block;
}

.pokemon-stat div.stat-text {
  display: inline-block;
  text-align: left;
}

.pokemon-modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  color: #000000;
  text-shadow: 1px 1px 1px #FFCC00;
}

/* Modal content for purchases */
.pokemon-modal-content {
  background-color: var(--light);
  margin: 15% auto;
  padding: 20px;
  border: 1px solid var(--dark);
  width: 80%;
  max-width: 400px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.pokemon-modal-content h2 {
  padding-bottom: 15px;
}




#popup-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 150px;
  height: 150px;
  overflow: hidden;
  z-index: 9999;
}

#popup-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#home-color {
  color: #FFCC00;
  text-shadow: 2px 2px 2px #29396A;
  font-size: 30px;
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
  padding-top: 25px;
  padding-bottom: 20px;
  margin-top: 20px;
  text-align: center;
}