:root {
    --primary: #41528B;
    --secondary: #29396A;
    --tertiary: #9C3131;
    --quatrinary: #6A2020;
    --light: #d2d7f7;
    --dark: #202941;
    --error: rgb(228, 46, 1);
    --border-radius: 0.3rem;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--tertiary);
}

header {
    display: flex;
    margin-top: 25px;
    color: var(--light);
    background-color: var(--primary);
}

nav {
    background-color: var(--secondary);
}
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

  .container {
    width: 85%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .container.container-fluid {
    width: 92%;
  }
.login-card {
    margin: 20px 0px 0px 20px;
    flex: 0 0 50%;
    max-width: 90%;
    padding: 20px;
    border: 3px solid var(--dark);
    border-radius: var(--border-radius);
    border-style: double;
    border-width: thick;
    background-color: var(--tertiary);
    color: var(--dark);
  }

